@font-face {
    font-family: 'Roche Sans';
    src: url("https://fonts.roche.com/fonts/RocheSans-Light.ttf") format("truetype"), url("https://fonts.roche.com/fonts/RocheSans-Light.woff") format("woff"), url("https://fonts.roche.com/fonts/RocheSans-Light.woff2") format("woff2");
    font-display: auto;
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Roche Sans';
    src: url("https://fonts.roche.com/fonts/RocheSans-LightItalic.ttf") format("truetype"), url("https://fonts.roche.com/fonts/RocheSans-LightItalic.woff") format("woff"), url("https://fonts.roche.com/fonts/RocheSans-LightItalic.woff2") format("woff2");
    font-display: auto;
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: 'Roche Sans';
    src: url("https://fonts.roche.com/fonts/RocheSans-Medium.ttf") format("truetype"), url("https://fonts.roche.com/fonts/RocheSans-Medium.woff") format("woff"), url("https://fonts.roche.com/fonts/RocheSans-Medium.woff2") format("woff2");
    font-display: auto;
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Roche Sans';
    src: url("https://fonts.roche.com/fonts/RocheSans-MediumItalic.ttf") format("truetype"), url("https://fonts.roche.com/fonts/RocheSans-MediumItalic.woff") format("woff"), url("https://fonts.roche.com/fonts/RocheSans-MediumItalic.woff2") format("woff2");
    font-display: auto;
    font-style: italic;
    font-weight: 700;
}

body {
    display: grid;
    grid-template-columns: 300px 1fr 343px;
    margin: 0;
    min-height: 100vh;
    background: #f8f8f8;
}

#rds-sidenav.rds-tableau-sidenav {
    background: #fff;
    padding-inline: 32px;
    box-sizing: border-box;
    width: clamp(180px, 40ch, calc(100% - 29px));
    font-family: 'Roche Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.2px;
}

#rds-sidenav.rds-tableau-sidenav img {
    display: block;
    width: 157px;
    height: 83px;
    margin: 40px auto;
}

#rds-sidenav.rds-tableau-sidenav ul {
    list-style: none !important;
}

#rds-sidenav.rds-tableau-sidenav h2 {
    display: flex;
    gap: 12px;
    margin: 0;
    padding-block: 8px;
    color: #544F4F;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
}

#rds-sidenav.rds-tableau-sidenav h2::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
}

#rds-sidenav.rds-tableau-sidenav #roche-resources::before {
    background-image: url("pills.svg");
}

#rds-sidenav.rds-tableau-sidenav #tableau-resources::before {
    background-image: url("chart_view_histogram.svg");
}

#rds-sidenav.rds-tableau-sidenav #design-resources::before {
    background-image: url("write.svg");
}

#rds-sidenav.rds-tableau-sidenav ul {
    margin: 8px 0;
    padding: 0;
}

#rds-sidenav.rds-tableau-sidenav li {
    border-left: 1px solid #C2BAB5;
    padding: 8px 0 8px 24px;
    color: #544F4F;
}

#rds-sidenav.rds-tableau-sidenav a {
    color: inherit;
    text-decoration: none;
}
